<h1>New Dog for Adoption!</h1>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= @post.errors.count %> error(s) prohibited this post from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/posts">
<p>
<div><label for="name">Name</label></div>
<input id="name" type="name" name="dog[name]" value="<%= @post.name %>" />
</p>

<p>
<div><label for="breed">Breed</label></div>
<input id="breed" type="breed" name="dog[breed]" value="<%= @post.breed %>" />
</p>

<p>
<div><label for="age">Age</label></div>
<input id="age" type="age" name="dog[age]" value="<%= @post.age %>" />
</p>

<p>
<div><label for "foster">Foster</label></div>
<input id="foster" type="foster" name="dog[foster]" value="<%= @post.foster %> " />
<p>